# Variáveis de ambiente para desenvolvimento local no Monorepo
NEXT_PUBLIC_API_URL=http://localhost:3001/api
NEXT_PUBLIC_WIDGET_MFE_URL=http://localhost:4200/mf-manifest.json
NX_PUBLIC_API_URL=http://localhost:3001/api
